extends layout-ES

block content
  header
    h2.color A través de una lente
  ul.image-container
    li.image-individual.landscape
      a(href="/images/personal/IMG_20201022_142730_642.jpg")
        img(src="/images/personal/IMG_20201022_142730_642.jpg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0061.jpg")
        img(src="/images/personal/DSC_0061.jpg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0095.jpg")
        img(src="/images/personal/DSC_0095.jpg", alt="")
    li.image-individual.portrait
      a(href="/images/personal/DSC_0531_6-01.jpeg")
        img(src="/images/personal/DSC_0531_6-01.jpeg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0252.jpg")
        img(src="/images/personal/DSC_0252.jpg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0381Final.jpg")
        img(src="/images/personal/DSC_0381Final.jpg", alt="")
    li.image-individual.portrait
      a(href="/images/personal/DSC_0491_FINAL_2.jpg")
        img(src="/images/personal/DSC_0491_FINAL_2.jpg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0544-01.jpeg")
        img(src="/images/personal/DSC_0544-01.jpeg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0545-01.jpeg")
        img(src="/images/personal/DSC_0545-01.jpeg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0558-01.jpeg")
        img(src="/images/personal/DSC_0558-01.jpeg", alt="")
    li.image-individual.portrait
      a(href="/images/personal/DSC_0541-01.jpeg")
        img(src="/images/personal/DSC_0541-01.jpeg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0567_FINAL_IG.png")
        img(src="/images/personal/DSC_0567_FINAL_IG.png", alt="")
    li.image-individual.square
      a(href="/images/personal/IMG_20201015_194028-01.jpeg")
        img(src="/images/personal/IMG_20201015_194028-01.jpeg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0579-01.jpeg")
        img(src="/images/personal/DSC_0579-01.jpeg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0588-03.jpeg")
        img(src="/images/personal/DSC_0588-03.jpeg", alt="")
    li.image-individual.portrait
      a(href="/images/personal/IMG_20201003_223731_779.jpg")
        img(src="/images/personal/IMG_20201003_223731_779.jpg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0591_FINAL_IG_3.jpg")
        img(src="/images/personal/DSC_0591_FINAL_IG_3.jpg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0593-01.jpeg")
        img(src="/images/personal/DSC_0593-01.jpeg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0593-03.jpeg")
        img(src="/images/personal/DSC_0593-03.jpeg", alt="")
    li.image-individual.portrait
      a(href="/images/personal/DSC_0615-01.jpeg")
        img(src="/images/personal/DSC_0615-01.jpeg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0600-01.jpeg")
        img(src="/images/personal/DSC_0600-01.jpeg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0603_FINAL_IG_3.jpg")
        img(src="/images/personal/DSC_0603_FINAL_IG_3.jpg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0619-01.jpeg")
        img(src="/images/personal/DSC_0619-01.jpeg", alt="")
    li.image-individual.portrait
      a(href="/images/personal/IMG_20201017_123004_938.jpg")
        img(src="/images/personal/IMG_20201017_123004_938.jpg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0640-01.jpeg")
        img(src="/images/personal/DSC_0640-01.jpeg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0668-01.jpeg")
        img(src="/images/personal/DSC_0668-01.jpeg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/DSC_0713-01.jpeg")
        img(src="/images/personal/DSC_0713-01.jpeg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/IMG_20200909_222539_095.jpg")
        img(src="/images/personal/IMG_20200909_222539_095.jpg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/IMG_20200909_222539_097.jpg")
        img(src="/images/personal/IMG_20200909_222539_097.jpg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/IMG_20170117_123542.jpg")
        img(src="/images/personal/IMG_20170117_123542.jpg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/IMG_20200919_135350_261.jpg")
        img(src="/images/personal/IMG_20200919_135350_261.jpg", alt="")
    li.image-individual.portrait
      a(href="/images/personal/IMG_20201015_191307-01.jpeg")
        img(src="/images/personal/IMG_20201015_191307-01.jpeg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/IMG_20201031_141113_657.jpg")
        img(src="/images/personal/IMG_20201031_141113_657.jpg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/IMG_20201113_233301_851.jpg")
        img(src="/images/personal/IMG_20201113_233301_851.jpg", alt="")
    li.image-individual.square
      a(href="/images/personal/IMG_20201122_162541-01.jpeg")
        img(src="/images/personal/IMG_20201122_162541-01.jpeg", alt="")
    li.image-individual.portrait
      a(href="/images/personal/IMG_20201018_124827_486.jpg")
        img(src="/images/personal/IMG_20201018_124827_486.jpg", alt="")
    li.image-individual.square
      a(href="/images/personal/IMG_20201122_162850-01.jpeg")
        img(src="/images/personal/IMG_20201122_162850-01.jpeg", alt="")
    li.image-individual.square
      a(href="/images/personal/IMG_20201123_173204-01.jpeg")
        img(src="/images/personal/IMG_20201123_173204-01.jpeg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/IMG_20201128_114101_825.jpg")
        img(src="/images/personal/IMG_20201128_114101_825.jpg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/IMG_20201205_171550-01.jpeg")
        img(src="/images/personal/IMG_20201205_171550-01.jpeg", alt="")
    li.image-individual.portrait
      a(href="/images/personal/IMG_20201018_124827_484.jpg")
        img(src="/images/personal/IMG_20201018_124827_484.jpg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/IMG_20201205_181401-01.jpeg")
        img(src="/images/personal/IMG_20201205_181401-01.jpeg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/lomax.jpg")
        img(src="/images/personal/lomax.jpg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/panacea.jpg")
        img(src="/images/personal/panacea.jpg", alt="")
    li.image-individual.landscape
      a(href="/images/personal/retocada2.jpg")
        img(src="/images/personal/retocada2.jpg", alt="")
    li.image-individual.portrait
      a(href="/images/personal/20190413_140124.jpg")
        img(src="/images/personal/20190413_140124.jpg", alt="")