extends layout-EN

block content
header.form-header
    h3.color Register
    h4.border-bottom
      a(href="/EN/login") Login
  form#register-form(action="/EN/register" method="POST")
    label(for="inputName") Name
    input.border#inputName(type="name" name="name")
    label(for="inputEmail") Email
    input.border#inputEmail(type="email" name="email")
    label(for="inputPassword") Password
    input.border#inputPassword(type="password" name="password")
    label(for="inputPasswordConfirm") Repeat Password
    input.border#inputPasswordConfirm(type="password" name="confirm_password")
    button.button(name="submit" type="submit") Send