extends layout-EN

block content
  p
    strong Subscription Confirmed!
  p You are now oficially confirmed and on the list. Expect some great emails headed your way very soon.
  a.underline(href='/') Return to the Homepage
